
body{
	background-image:URL(../../Document/Background/Background.jpg);
	background-attachment:fixed;
	background-size:Cover;
	
	
}
#Content{
	Margin:auto;
	width:1003px;
	height:100%;
	border-right:3px solid;
	border-left:3px solid;
	
	background-color: rgba(128,128,128,0.4);
}
#Navbar{
	Width:1003px;
	height:35px;
	text-align:center;
	background-color:white;
	margin:auto;
	Font-Size:30px;
	Font-Family:Aerial;
    border-bottom:3px solid;
	
	}
.Nlink{
	text-decoration:none;
	color:Black;
	background-color:white;
	color:black;
	Display:Inline;
	width:100%;
	height:100%;
	
}
.Nlink:hover{
	color:White;
	background-color:Black;
}
#Header{
	width:1003px;
	height:100%;
	border-bottom:3px solid;
	background-color:white;
	border-top:3px solid;
	
}

#Footer{
	width:1003px;
	height:70px;
	background-color: rgba(0,0,255,0.4);
	border:3px solid;
	font-size:25px;
	font-family:Aerial;
	margin:auto;
	
}	
.Footert{
	font-size:18px;
	font-family:Comic Sans MS;
}
.Title{
	font-family:Comic Sans MS;
	font-size:40px;
		Display:Inline;
}

.HTopic{
	font-family:comic sans ms;
	font-size:30px;
	
}

.Text{
	font-family:Comic Sans ms;
	font-size:24px;
}


.Button1{
width:150px;
height:40px;
   }
   .Image1{
	   border:2px solid;
   }
     #Table1{
	   font-size:24px;
	   font-family:Comic Sans ms;
	   color:#FD0R33;
   }
   .Nextpartlink1{
	   Text-decoration:none;
	   Color:#000000;
   }
   
   .unorderlist1{
	   font-size:22px;
	   font-family:comic Sans MS;
   }
   .Finishtext{
	   font-size:40px;
	   font-family:Comic Sans MS;
	   text-align:Center;
   }
   
   #Name{
	font-size:60px;
	Text-align:Center;
	background-color:White;
	margin:auto;
	color: Red;
	font-family:comic sans ms;
}
#Name:hover{
	

background-color:Black;
	
}
#Soon{
	Text-decoration:none;
	   Color:#000000;
}